<h2>Directivas</h2>

<h3>De atributo</h3>

<p [ngStyle]="{color: colorLetra, 'background-color':'black'}">El fondo es negro y la letra es blanca</p>

<p [ngClass]="{tachada: tachada, fondoNegro: true, letraBlanca: true}">El fondo es negro y la letra es blanca</p>

<input type="text" [(ngModel)]="colorLetra">

<button type="button" (click)="toggleTachada()">Alternar texto tachado</button>




<p appMarcar>El párrafo se marca si pasas el ratón por encima</p>

<p appMarcar="blue">El párrafo se marca si pasas el ratón por encima</p>

<p appMarcar ="yellow">El párrafo se marca si pasas el ratón por encima</p>

<p appMarcar color="purple">El párrafo se marca si pasas el ratón por encima</p>

<p appMarcar color="green">El párrafo se marca si pasas el ratón por encima</p>

<input appPowerMode class="powerMode" type="text">


<h3>Estructurales</h3>

<div *ngIf="!logueado; then loginBtn else logoutBtn">Login</div>

<ng-template #loginBtn>
  <button type="button" (click)="cambiarLogueado(true)">Login</button>
</ng-template>



<ng-template #logoutBtn>
  <button type="button" (click)="cambiarLogueado(false)">Logout</button>
</ng-template>

<ul>
 <li *ngFor="let mascota of mascotas; let pos = index; let esUltimo = last; let esPrimero = first">
   {{pos + 1}}: {{mascota}} {{esPrimero ? '(Es el primero)' : ''}} {{esUltimo ? '(Es el último)' : ''}}
  </li>
</ul>

<input type="text" [(ngModel)]="mascotaSeleccionada">

<div [ngSwitch]="mascotaSeleccionada">
  <!-- <p *ngSwitchCase="'perro'">Tengo un perro</p>
  <p *ngSwitchCase="'gato'">Tengo un gato</p>
  <p *ngSwitchCase="'canario'">Tengo un canario</p> -->
  <div *ngFor="let mascota of mascotas">
    <p *ngSwitchCase="mascota">Tengo un {{mascota}}</p>

  <p *ngSwitchDefault>No tenemos niguna de las mascotas anteriores</p>
  </div>
</div>
