<div>
  <h4>Suscripción a {{plataforma}}</h4>
  <p>Precio: {{precio | currency: 'EUR'}}</p>
  <p>Estado: {{subEstado ? 'activa' : 'no activa'}}</p>


  <ng-container *ngIf="subEstado; else suscripcionActivaElements">

    <p>Fecha próxima renovación: {{fechaProximoPago | date:'hh:mm:ss'}}</p>
    <button type="button" class="btn btn-danger"
    (click)="cancelarSubscripcion()">Cancelar subscripción</button>

  </ng-container>

  <ng-template #suscripcionActivaElements>

    <p>Fecha próxima renovación: --:--:--</p>
    <button type="button" class="btn btn-success"
    (click)="activarSuscripcion()">Activar subscripción</button>
  </ng-template>




<!--
  <p *ngIf="subEstado; else noFecha">Fecha próxima renovación: {{fechaProximoPago | date:'hh:mm:ss'}}</p>

  <button type="button" class="btn btn-success" *ngIf="!subEstado; else cancelarBtn" (click)="activarSuscripcion()">Activar subscripción</button>

  <ng-template #cancelarBtn>
    <button type="button" class="btn btn-danger" (click)="cancelarSubscripcion()">Cancelar subscripción</button>
  </ng-template>

  <ng-template #noFecha>
    <p>Fecha próxima renovación: --:--:--</p>
  </ng-template> -->


</div>
