<h2>Pipes</h2>

<div>
  <h4>{{producto.titulo | titlecase }}</h4>
  <p>{{producto.descripcion | slice:4:100}}...</p>
  <div>
      <p>{{producto.precio | doble:1000}}</p>
      <p>{{producto.fechaLanzamiento | date:'dd/MM/yyyy'}}</p>
  </div>
</div>

<pre>{{producto | json}}</pre>

<div>{{ {a: 1, b: 2} | keyvalue | json }}</div>

<input type="text" (change)="addTarea($event)">
<ul>
  <li *ngFor="let tarea of tareas">{{tarea}}</li>
</ul>

<input type="text" [(ngModel)]="filtroTxt">
<ul>
  <li *ngFor="let tarea of tareas | filtro:filtroTxt">{{tarea}}</li>
</ul>

<p>---------------------------------------------------------------</p>

<input type="text" [(ngModel)]="texto">
<input type="text" (change)="censurarPalabra($event)">

<p>{{texto | reverse}}</p>
<p>{{'No se si me va a tocar la lotería o no me va a tocar este año' | ocultarPalabras:['no', 'si', 'lotería' ]}}</p>

<pre>{{datosPost1 | async | json}}</pre>








